---
http_interactions:
- request:
    method: post
    uri: https://api.sureapp.com/api/partner/v1/methods
    body:
      encoding: UTF-8
      string: '{"first_name":"foo","last_name":"bar","email":"foobar@foobar.com","token":"foobarstripe"}'
    headers:
      Authorization:
      - Token p1hIJDYFkfpiPrA92Q73WX0FzlMROye8STmwt6xuLN5fcKGaj
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "There was a problem adding your payment method.",
        "code": "create_payment_method_failed", "fields": {}}}'
  recorded_at: Tue, 13 Aug 2019 22:01:06 GMT
recorded_with: VCR 5.0.0
