---
http_interactions:
- request:
    method: post
    uri: https://api.sureapp.com/api/partner/v1.1/protections/renters/rates
    body:
      encoding: UTF-8
      string: '{"property_address":{"street_address":"7400 River Road","city":"North
        Bergen","region":"NJ","postal":"07047","country_code":"US"},"details":{"pni_first_name":"Art","pni_last_name":"Garfunkel","pni_phone_number":"212-889-7766","has_mailing_address":false,"dwelling_type":"A","mandatory_insurance_requirement":true,"number_of_losses":"0","animal_injury":false,"has_sni":false,"has_intrested_party":false,"property_special_city":"New
        York"},"settings":{"policy_effective_date":"2019-08-23"},"plan_id":"5977a84e49d11179e7557da3"}'
    headers:
      Authorization:
      - Token p1hIJDYFkfpiPrA92Q73WX0FzlMROye8STmwt6xuLN5fcKGaj
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rates": {"personal_property": [{"personal_property_coverage": 10000,
        "all_peril_deductible": 100, "hurricane_deductible": null}, {"personal_property_coverage":
        10000, "all_peril_deductible": 250, "hurricane_deductible": null}, {"personal_property_coverage":
        10000, "all_peril_deductible": 500, "hurricane_deductible": null}, {"personal_property_coverage":
        15000, "all_peril_deductible": 100, "hurricane_deductible": null}, {"personal_property_coverage":
        15000, "all_peril_deductible": 250, "hurricane_deductible": null}, {"personal_property_coverage":
        15000, "all_peril_deductible"[...]
