---
http_interactions:
- request:
    method: post
    uri: https://api.trysureapp.com/api/partner/v1.1/protections/renters/purchase
    body:
      encoding: UTF-8
      string: '{"plan_id":"foo","quote_id":"bar","payment_method_id":"baz","payment_cadence":"qux"}'
    headers:
      Authorization:
      - Token pYE7lh1KQi3uqjTIXtcZWk6UAwzC04xJP5frbFMp8dOnL29BG
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "We could not accept your request", "code": "invalid_input",
        "fields": {"plan_id": "Plan id field could not be validated", "payment_method_id":
        "Payment method id field could not be validated"}}}'
  recorded_at: Tue, 13 Aug 2019 22:25:37 GMT
recorded_with: VCR 5.0.0
