---
http_interactions:
- request:
    method: post
    uri: https://api.sureapp.com/api/partner/v1.1/protections/renters/plans
    body:
      encoding: UTF-8
      string: '{"property_address":{"street_address":"7400 River Road","city":"North
        Bergen","region":"NJ","postal":"07047","country_code":"US"}}'
    headers:
      Authorization:
      - Token p1hIJDYFkfpiPrA92Q73WX0FzlMROye8STmwt6xuLN5fcKGaj
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"settings": {"display_html": null, "currency": {"symbol": "$", "code":
        "USD"}}, "plans": [{"plan_id": "5a64bf5a0eccd83bb79fbaf5", "information":
        {"most_popular": false, "title": "Renters", "subtitle": null, "summary_html":
        null, "full_html": null, "pricing_title": null, "pricing_notification": "",
        "bottom_text": "Assurant is the holding company for various underwriting entities
        that provide Renters Insurance. In all states, except Minnesota and Texas,
        Renters Insurance is underwritten by American Bankers Insurance Company of
        Florida with its home office in Miami, Florida (ABIC NAIC# 10111). In Minnesota,
        the underwriter is American Security Insurance Company. In Texas, the renters
        property insurance is underwritten by Ranchers and Farmers Mutual Insurance
        Company. Each insurer has sole responsibility for its own products. In Utah,
        coverage is provided under policy form AJ8850PC-0307. Sold by Sure HIIS Insurance
        Services, LLC.", "acknowledgment_html": "I acknowledge that I have read and
        understand all applicable <a href=\"https://sure-media.s3.amazonaws.com/html/assurant-disclosures.html\"
        target=\"_blank\" rel=\"noopener noreferrer\">state disclosures, fraud notices,
        the notice of cancellation</a>, and the <a href=\"https://sure-media.s3.amazonaws.com/html/assurant-electronic-business-consent.html\"
        target=\"_blank\" rel=\"noopener noreferrer\">electronic business consent</a>."},
        "policy_doc_url": "https://s3.amazonaws.com/sure-media/pdf/policy/8c75e/4baf5/5995ccdd4600a0040c48699e/policy.pdf",
        "details": {"personal_property_coverage": {"title": "Personal Property", "description":
        "Personal Property coverage pays for your personal belongings if they are
        damaged anywhere in the world as a result of various named perils. Some examples
        are: fire or lightning, windstorm or hail, explosion, smoke, vandalism or
        malicious mischief, theft, accidental discharge or overflow of water or steam.
        For a detailed listing of covered perils, please refer to the policy"}, "all_peril_deductible":
        {"title": "Deductible", "description": "The deductible is the per-occurrence
        portion of your loss that you are financially responsible for paying before
        the insurance carrier pays the rest of your claim. The higher the deductible,
        the lower your premium."}, "hurricane_deductible": {"title": "Hurricane Deductible",
        "description": "This is a deductible that applies specifically in the case
        of damage caused by a hurricane."}, "liability_limit": {"title": "Personal
        Liability", "description": "Liability coverage protects you in the event of
        bodily injury or damage to someone else''s property for which you are legally
        liable. The liability coverage has no deductible. This coverage pays the property
        manager/owner for damages to the unit caused by you as a result of the following
        perils: Fire, water damage, smoke, and explosion. Your policy also covers
        damages to your neighbor''s property, up to the policy limit, if you are negligent.
        In addition, liability coverage will also pay medical expenses up to the policy
        limits, in the event a guest is injured in your apartment."}, "loss_of_use":
        {"title": "Loss of Use", "description": "If your property becomes unlivable,
        costs relating to housing and increased living expenses will be covered."},
        "replacement_cost": {"title": "Replacement Cost", "description": "If your
        personal property is damaged by a covered peril we will pay the cost of replacement
        of the item without deduction for depreciation (what it was worth when you
        bought it). The item(s) must first be replaced before the full replacement
        cost can be paid."}, "water_backup": {"title": "Sewer or Drain Backup", "description":
        "This coverage pays for damage to your personal property as a result of water
        backup of sewers or drains. The maximum benefit for this endorsement is $2,500
        for each \"occurrence\". In North Carolina the maximum benefit is $5,000.
        In Maryland, the maximum benefit is equal to the personal property limit selected.
        In all states a $250 deductible applies."}, "identity_fraud": {"title": "Identity
        Fraud", "description": "Identity Fraud Expense Coverage is an endorsement
        to the Renters Insurance program that helps cover the cost and time it will
        take to restore your identity. These \"expenses\" include, but are not limited
        to, attorney''s fees and loss of income, up to $5,000, as a result of time
        taken off work to talk with law enforcement agencies and credit agencies.
        Having Identity Fraud Expense Coverage can reimburse you up to $15,000 for
        expenses as a direct result of identity fraud. Identity theft and fraud refers
        to the use of wrongfully obtaining someone else''s personal information and
        using it in a way that includes deception, usually for an economic gain. Identity
        theft can include stealing your bank account number or credit card number,
        which can lead to large financial and credibility loss."}, "earthquake_property_coverage":
        {"title": "Earthquake Coverage", "description": "This coverage pays for damages
        to your personal property as a result of an earthquake. When selected, the
        earthquake coverage is equal to the personal property coverage selected, with
        a $1,500 limit for additional living expenses."}, "earthquake_deductible":
        {"title": "Earthquake Deductible", "description": "The deductible is 15% of
        the amount of personal property coverage selected, with a $1,500 limit for
        additional living expenses."}, "acknowledgment": {"html": "I acknowledge that
        I have read and understand all applicable <a href=\"https://sure-media.s3.amazonaws.com/html/assurant-disclosures.html\"
        target=\"_blank\" rel=\"noopener noreferrer\">state disclosures, fraud notices,
        the notice of cancellation</a>, and the <a href=\"https://sure-media.s3.amazonaws.com/html/assurant-electronic-business-consent.html\"
        target=\"_blank\" rel=\"noopener noreferrer\">electronic business consent</a>."}},
        "plan_class": "renters_assurant", "subscription_options": {"payment_cadences":
        ["annual", "eleven_pay"], "default_cadence": "annual"}}], "dynamic_form":
        {"screens": {"5d53332070c5df0bc5b9656d": {"title": "Personal Information",
        "question": "What is your name?", "help_text": null, "next_screen_id": "5d53332070c5df0bc5b9656f",
        "flags": [], "fields": [{"field_type": "text", "label": "First Name", "help_text":
        null, "key_name": "pni_first_name", "error_message": "Missing first name",
        "required": true, "keyboard": {"android_type": 1, "ios_type": "UIKeyboardTypeDefault"},
        "widget": null, "settings": {"default": null, "special_default": "user_first_name",
        "regex": "^[a-zA-Z\\s\\u00C0-\\u00FF\\_]+$", "min_choices": null, "max_choices":
        null, "max_value": null, "min_value": null, "date_after": null, "date_before":
        null, "add_button_caption": null, "row_item_name": null, "choices": [], "flags":
        []}, "subfields": []}, {"field_type": "text", "label": "Middle Name", "help_text":
        null, "key_name": "pni_middle_name", "error_message": "Missing middle name",
        "required": false, "keyboard": {"android_type": 1, "ios_type": "UIKeyboardTypeDefault"},
        "widget": null, "settings": null, "subfields": []}, {"field_type": "text",
        "label": "Last Name", "help_text": null, "key_name": "pni_last_name", "error_message":
        "Missing last name", "required": true, "keyboard": {"android_type"[...]
