---
http_interactions:
- request:
    method: post
    uri: https://api.sureapp.com/api/partner/v1.1/protections/renters/cadences
    body:
      encoding: UTF-8
      string: '{"property_address":{"street_address":"355 South End Avenue","unit":"","city":"New
        York","region":"NY","postal":"10280","country_code":"US"},"quote_id":""}'
    headers:
      Authorization:
      - Token p1hIJDYFkfpiPrA92Q73WX0FzlMROye8STmwt6xuLN5fcKGaj
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "We could not accept your request", "code": "invalid_input",
        "fields": {"quote_id": "Quote id field could not be validated"}}}'
  recorded_at: Tue, 13 Aug 2019 22:00:54 GMT
recorded_with: VCR 5.0.0
