---
http_interactions:
- request:
    method: post
    uri: https://api.sureapp.com/api/partner/v1.1/protections/renters/plans
    body:
      encoding: UTF-8
      string: '{"property_address":{"street_address":"7400 River Road","city":"North
        Bergen","region":"NJ","country_code":"US"}}'
    headers:
      Authorization:
      - Token p1hIJDYFkfpiPrA92Q73WX0FzlMROye8STmwt6xuLN5fcKGaj
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "We could not accept your request", "code": "invalid_input",
        "fields": {"property_address__postal": "Postal field is missing"}}}'
  recorded_at: Tue, 13 Aug 2019 22:01:05 GMT
recorded_with: VCR 5.0.0
