---
http_interactions:
- request:
    method: post
    uri: https://api.sureapp.com/api/partner/v1.1/protections/renters/rates
    body:
      encoding: UTF-8
      string: '{"property_address":{"street_address":"7400 River Road","city":"North
        Bergen","region":"NJ","country_code":"US"},"details":{},"settings":{},"plan_id":"5977a84e49d11179e7557da3"}'
    headers:
      Authorization:
      - Token p1hIJDYFkfpiPrA92Q73WX0FzlMROye8STmwt6xuLN5fcKGaj
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "We could not accept your request", "code": "invalid_input",
        "fields": {"settings__policy_effective_date": "Policy effective date field
        is missing", "property_address__postal": "Postal field is missing"}}}'
  recorded_at: Tue, 13 Aug 2019 22:05:14 GMT
recorded_with: VCR 5.0.0
