---
http_interactions:
- request:
    method: post
    uri: https://api.sureapp.com/api/partner/v1.1/protections/renters/cadences
    body:
      encoding: UTF-8
      string: '{"property_address":{"street_address":"355 South End Avenue","unit":"","city":"New
        York","region":"NY","postal":"10280","country_code":"US"},"quote_id":"QRASU9LKLRZ"}'
    headers:
      Authorization:
      - Token p1hIJDYFkfpiPrA92Q73WX0FzlMROye8STmwt6xuLN5fcKGaj
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cadences": [{"number_of_payments": 1, "payment_cadence": "annual",
        "downpayment_amount": 94.0, "installment_amount": 0, "service_fee": 0, "full_installment_amount":
        0}, {"number_of_payments": 11, "payment_cadence": "eleven_pay", "downpayment_amount":
        15.67, "installment_amount": 7.84, "service_fee": 5.0, "full_installment_amount":
        12.84}], "total_premium": 94.0}'
  recorded_at: Tue, 13 Aug 2019 22:00:55 GMT
recorded_with: VCR 5.0.0
