---
http_interactions:
- request:
    method: post
    uri: https://api.sureapp.com/api/partner/v1.1/protections/renters/checkout
    body:
      encoding: UTF-8
      string: '{"property_address":{"street_address":"355 South End Avenue","unit":"","city":"New
        York","region":"NY","country_code":"US"},"details":{"pni_first_name":"Art","pni_last_name":"Garfunkel","pni_phone_number":"212-889-7766","has_mailing_address":false,"dwelling_type":"A","mandatory_insurance_requirement":true,"number_of_losses":"0","animal_injury":false,"has_sni":false,"has_intrested_party":false,"property_special_city":"New
        York"},"settings":{"policy_effective_date":"2019-08-23","personal_property_coverage":10000,"all_peril_deductible":500,"hurricane_deductible":null,"liability_limit":100000,"medical_limit":null,"include_pet_damage":false,"include_water_backup":false,"include_identity_fraud":false,"include_replacement_cost":true},"plan_id":"5a64bf5a0eccd83bb79fbaf5","quote_id":"QRASU9LKLRZ","email":"art@ucnle.com","payment_cadence":null}'
    headers:
      Authorization:
      - Token p1hIJDYFkfpiPrA92Q73WX0FzlMROye8STmwt6xuLN5fcKGaj
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "We could not accept your request", "code": "invalid_input",
        "fields": {"property_address__postal": "Postal field is missing"}}}'
  recorded_at: Tue, 13 Aug 2019 22:05:44 GMT
recorded_with: VCR 5.0.0
